<h2>{{title}}</h2>

<form class="form-horizontal" enctype="multipart/form-data" action="/diary/new" method="POST">
  <input type="hidden" name="_csrf" value="{{_csrf}}">
  <fieldset>
    {{#if messages.errors}}
      {{#each messages.errors}}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Oh snap!</strong> {{ this.msg }}
      </div>
      {{/each}}
    {{/if}}
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="title" name="title">
      </div>
    </div>

    <div class="form-group">
      <label for="photo" class="col-lg-2 control-label">Photo</label>
      <div class="col-lg-10">
        <input type="file" class="form-control" id="photo" name="photo">
      </div>
    </div>

    <div class="form-group">
      <label for="caption" class="col-lg-2 control-label">Caption</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="caption" name="caption">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Share this for:</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="shareOptions" id="private" value="private" checked="">
            Private
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="shareOptions" id="public" value="public">
            Public
          </label>
        </div>
      </div>
    </div>

    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>